body {
color:black;
background-color:white;
background-image:url(Ressources/Background.png);
}

h1 {
	font-family: 'TitreSite', Georgia, serif;
	font-size: 60px;
}


@font-face { 
  font-family: 'TitreSite'; 
  src: url('Ressources/Polices/PaleBlueEyes.ttf'); 
}

.nav nav-pills nav-stacked{
	
	line-height:1em;
	position : fixed;
	width:320px;
	height:150px;
	overflow:auto;
	padding:5px;
	box-shadow: 1px 10px #0000000;
}

