body {
color:black;
background-color:white;
background-image:url(Ressources/Background.png);
}

h1 {
	font-family: 'TitreSite', Georgia, serif;
	font-size: 60px;
}


@font-face { 
  font-family: 'TitreSite'; 
  src: url('Ressources/Polices/PaleBlueEyes.ttf'); 
}

.btn-group2{
	
	line-height:1em;
	
	width:320px;
	height:150px;
	overflow:auto;
	padding:5px;
	box-shadow: 5px 20px #0000000;
	
}

